<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WedBliss-Registration Success</title>
    <link rel="icon" href="/resources/WEDBLISS.png">
</head>


<body class="">
     <!-- Header Menu -->
     <div class="max-w-[1450px] w-[100%] mx-auto overflow-hidden">
      <header class="grid grid-cols-[20%_58%_15%_5%] max-w-[1450px] items-center">
          <div class="w-[100px]">
              <!-- logo -->
              <img src="/resources/WEDBLISS.png"/>
          </div>
          <div class="mx-[10px]">
              <menu class="">
                  <a class="px-[12px] text-[18px] hover:border-b-[4px] border-b-[#D7385E] p-[13px]" href="#">Home</a>
                  <a class="px-[12px] text-[18px] hover:border-b-[4px] border-b-[#D7385E] p-[13px]" href="#">Venues</a>
                  <a class="px-[12px] text-[18px] hover:border-b-[4px] border-b-[#D7385E] p-[13px]" href="#">Photographers</a>
                  <a class="px-[12px] text-[18px] hover:border-b-[4px] border-b-[#D7385E] p-[13px]" href="#">Parlor</a>
                  <a class="px-[12px] text-[18px] hover:border-b-[4px] border-b-[#D7385E] p-[13px]" href="#">Decor</a>
                  <a class="px-[12px] text-[18px] hover:border-b-[4px] border-b-[#D7385E] p-[13px]" href="#">Catering</a>
                  <a class="px-[12px] text-[18px] hover:border-b-[4px] border-b-[#D7385E] p-[13px]" href="#">E-Invites</a>
              </menu>
          </div>
          <div>
              <!-- list your service -->
              <button class="rounded-[25px] text-[16px] text-[#D7385E] font-semibold border-[2px] px-[18px] py-[8px] border-[#D7385E] hover:text-white hover:bg-[#D7385E]">List your business</button>
          </div>
          <div class="grid grid-cols-2 gap-[0px] rounded-[25px] border-[2px] items-center border-[#AFB6BB] bg-[#F1F1F1] py-[6px] px-[5px]">
              <img class="h-[15px]" src="/resources/menu.svg"/>
              <img src="/resources/user.svg"/>
          </div>
      </header>

      <!-- menu header end -->

  <div class="flex justify-center items-center min-h-screen">
    <div class="h-auto my-20 w-96 bg-white rounded-lg p-3">
        <div class="flex justify-between mt-2">
          <div class="flex items-center gap-2">
            <span class="h-10 w-10 rounded-full bg-gray-200 flex justify-center items-center">
                <img src="/resources/WEDBLISS.png"/>
              </span>
            <p class="text-lg font-semibold">Registration Successful</p>
          </div>
        </div>
        <hr class="mt-5">
        <p class="mt-5 text-[#D7385E] text-center">Thank you for signing up! Your account has been successfully created.</p>
        <p class="my-5 text-center text-sm">Already have an account <a class="text-blue-600 signin" href="/login">Log in</a></p>
        <p class="my-5 text-center text-sm">Return to the homepage for a seamless browsing experience &nbsp;<a class="text-[#D7385E]" href="/home">Home</a></p>
      </div>
  </div>
  
  <div class="relative left-[900px] bottom-[700px] overflow-hidden" style="z-index: -1;">
    <img width="40%" src="/resources/successful.jpg"/>
</div>
</body>
</html>
